h1{
    font-size: 60px;
    color: black;
    text-decoration: underline;
    text-align: center;
    text-shadow: -5px 5px 2px #ccc;
}

 .container {
    width: 1000px;
    margin: auto;
    background-color: #ccc;
    border-radius: 20px;
}

.card {
    display: inline-block;
    width: 220px;
    padding: 0 70px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.card img {
    height: 400px;
    width: 400px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
}


